<div class="column-100">
  {{!-- <div class='input-backing'></div> --}}
  {{label-component labelText=labelText isRequired=isRequired isFocused=isFocused launchHelp=launchHelp }}

  {{textarea value=boundModel class='column-100' maxlength=maxlength rows=rows }}
  {{!-- {{#if isInvalid }}
    {{input-validation validationMessage=validationMessage }}
  {{/if}} --}}
</div>
