{{icon-font class='main' fontType=mainIcon fontSize=mainIconSize }}
<h3>{{ mainHeader }}</h3>
{{icon-font class='secondary' fontType=secondaryIcon fontSize=secondaryIconSize }}
<h4>{{ secondaryHeader }}</h4>

{{!-- Maybe we add a yield here in the future for easier customizations  --}}
