<div class="column-100">
  {{!-- <div class='input-backing'></div> --}}
  {{label-component labelText=labelText isRequired=isRequired isFocused=isFocused }}

  {{textarea value=inputValue class='column-100'}}
  {{!-- {{#if isInvalid }}
    {{input-validation validationMessage=validationMessage }}
  {{/if}} --}}
</div>
