{{#component-column columnType='navigation' padding="2,0,0,0" }}
  <h1>fowiefnweofin</h1>
  {{listed-navigation-item displayValue="Scope of Audit" linkPath=editAuditScopePath }}
  {{listed-navigation-item displayValue="Assign Report Parameters" linkPath=editReportParametersPath }}
  {{listed-navigation-item displayValue="Scoring Method" linkPath=editScoringMethodPath }}
{{/component-column }}
