# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp

# dependencies
/node_modules
/bower_components

# misc
/.sass-cache;
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
.env
.env.deploy.qa
.env.deploy.production
.env.deploy.staging
.env.deploy.development
.idea/codeStyleSettings.xml
.idea/hyspa.iml
.idea/jsLibraryMappings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/watcherTasks.xml
.idea/workspace.xml
.idea
dump.rdb
.DS_Store
