{{#audit-box currentEncounters=currentEncounters currentAudit=currentAudit auditProperties=auditProperties }}
  {{!-- <div class='content-view-meta column-80'>
    {{content-pagination previousText="Back to Audit List" previousPath="user-project.user-audits.user-audit.edit-audit.edit-patient-data" nextText="Next Audit" nextPath="user-project.user-audits.user-audit.edit-audit.edit-patient-data" }}
    {{audit-details }}
  </div> --}}
  {{ outlet }}
{{/audit-box}}
