{{icon-font class='background-arrow' fontType=arrowFont fontSize='xlarge'}}
{{icon-font class='primary-arrow' fontType=arrowFont fontSize='xlarge'}}
<div class="bubble-content column-100">
  {{yield}}
</div>
