<label class='column-100'>
  {{#if labelLeft }}
    <span>{{switchLabel}}</span>
     {{#if hasHelpLauncher }} {{help-launcher-icon helpKey=launchHelp class="help-icon" padding="0,0,0,1" }} {{/if}}
  {{/if}}

  {{slide-toggle }}

  {{#if labelRight }}
    <span>{{switchLabel}}</span>
  {{/if}}
</label>