<span class='link-span'>
  {{#if iconLeft }}
    {{icon-font fontType=fontType fontSize=fontSize }}
  {{/if}}
  {{#if hasLabelText }}
    <span>{{ labelText }}</span>
  {{/if}}
  {{#if iconRight }}
    {{icon-font fontType=fontType fontSize=fontSize }}
  {{/if}}
</span>