<div id='master-footer'>
  <div class='footer-logo'>
    {{logo-svg }}
    Healthicity
  </div>
  <nav class='footer-nav'>
    <li>Healthicity Support</li>
    <li>{{ currentApp.supportPhoneNumber }}</li>
    <li><a href="mailto:support@healthicity.com">support@healthicity.com</a></li>
    <li>M-F&nbsp;&nbsp;7am-5pm&nbsp;&nbsp;MST</li>
  </nav>
</div>
