@font-face {
  font-family: $icon-font-family;
  font-style: normal;
  font-weight: 400;
  src: url('#{$icon-path}/MaterialIcons-Regular.eot?timestamp=123'); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url('#{$icon-path}/MaterialIcons-Regular.woff?timestamp=123') format('woff'),
       url('#{$icon-path}/MaterialIcons-Regular.ttf?timestamp=123') format('truetype');
}
.ember-application .material-icons {
  float: initial;
  font-family: $icon-font-family;
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

/* Rules for sizing the icon. */
.ember-application .material-icons.md-16 { font-size: 16px; width: 16px;}
.ember-application .material-icons.md-18 { font-size: 18px; width: 18px;}
.ember-application .material-icons.md-24 { font-size: 20px; width: 24px;}
.ember-application .material-icons.md-36 { font-size: 36px; width: 36px;}
.ember-application .material-icons.md-48 { font-size: 48px; width: 48px;}

/* Rules for using icons as black on a light background. */
.ember-application .material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.ember-application .material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.ember-application .material-icons.md-light { color: rgba(255, 255, 255, 1); }
.ember-application .material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }
