.input-component {
  // padding: 8px 0 8px 0;

  input, textarea {
    padding: $base-gutter;
    background: $primary-background;
    border-radius: 4px;
    border: 1px solid $medium-border-color;
    font-weight: 700;
    z-index: 1;
  }
  label {
    cursor: default;
    display: flex;
    color: $light-type-color;
    text-transform: uppercase;
    font-size: $label-size;
    font-weight: 600;
    padding-bottom: 5px;
    .help-icon {
      display: inline-block;
      float: none;
      padding-left: 5px;
      margin-bottom: -6px;
      color: $chip-font;
    }
  }
  span {
    &.required {
      font-size: .8em;
      color: $error-red;
      float: none;
      padding-left: 3px;
    }
    &.validation-message {
      font-size: 10px;
      font-style: italic;
      color: $error-red;
    }
  }
  &.is-invalid {
    input {border: 1px solid $error-red;}
    label  {
      color: $error-red;
      .required-label-text { font-style: italic; }
    }
  }

  &.has-label {
    .counter {
      top: 21px;
    }
  }
}

.input-with-menu {
  display: flex;
  .filter-link {
    a {
      width: auto;
      padding: 0px;
      i {
        position: relative;
        top: 0px;
        left: 0px;
      }
    }
  }
}
