.radio-button-group {
  // padding: 8px 0px;
  .radio-buttons {
    padding-top: 8px;
  }
  &.stacked {
    .radio-button {
      width: 100%;
      padding-bottom: 8px;
      span {
        padding-top: 2px;
      }
    }
  }
}
.radio-button {

  label {
    padding-left: 30px;
    padding-right: 20px;
  }

  i {
    position: absolute;
    top: -1px;
    left: 0px;
    // color: $light-element-color;
  }

  span {
    color: $radio-checkbox-label-color;
  }

  &:not(.is-selected) {
    i {
      color: $checkbox-radio-color;
    }
  }
}

.radio-button-group > div > label {
  cursor: default;
  color: $light-type-color;
  text-transform: uppercase;
  font-size: $label-size;
  font-weight: 600;
  padding-bottom: 5px;

}
