.validation-icon {
  span {
    &.validation-message {
      font-size: 10px;
      font-style: italic;
      color: $error-red;
      float: none;
    }
  }
}
// .validation-icon {width: 100%;position: absolute;bottom: -3px;}
// // .validation-icon {position:absolute; top: -1px; left: -23px; width: 20px; height: 26px; background-color: $error-red; z-index: 5;}
// .app .validation-icon .validation-info {color: $white; width: 16px;height: 16px;font-size: 16px;position: absolute;top: 5px;left: 2px;}
// .validation-arrow {color: $error-red;position: absolute;right: -15px;top: 0px; font-size: 24px;}
