// .list-column {
//   .hyspa-chart {
//     border-right: 1px solid $primary-border-color;
//   }
// }
.chart-link-title {
  a {
    text-align: center;
    cursor: pointer;
    color: $black;
    opacity: 0.7;
    display: block;
    width: 100%;
    padding: 0 0 8px 0;
  }
}
